//Colors
$background-base: red;
$background-important: brown;
$background-warning: pink;
$color-border: gray;

//Shadow
$box-shadow: -10px 10px 12px 0px #333;

//Fonts
$principal-font: "Open Sans", sans-serif;
$sencondary-font: "PT Mono", monospace;

//Border Radious
$radious: 0.2em;
