//Colors
$background-base: blue;
$background-important: darkblue;
$background-warning: lightblue;
$color-border: gray;

//Shadow
$box-shadow: 10px 10px 12px 0px #333;

//Fonts
$principal-font: "Roboto", sans-serif;
$sencondary-font: "Poppins", sans-serif;

//Border Radious
$radious: 0.4em;
